.container{
   width: 100%;
   max-width: 1200px;
   margin: 0px auto;
   padding: 0px 20px;
}
.book-title{
   font-family: 'Arial';
   text-align: center;
   color: aqua;
   margin-top: 10px;
   margin-bottom: 30px;
}
h4{
   margin-top: 18px;
   font-family: 'Arial';
   margin-bottom: 15px;
   padding-left: 18px;
}
h5{
   padding-left: 18px;
   font-family: 'Arial';
   margin-top: 20px;
}
.js-list{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 0px;
   margin: 0px;   
   margin-top: 30px;
   list-style: none;
}

li{
   width: 350px;
   margin-bottom: 25px;
   background-color: #808587;
   border-radius: 25px;
   box-shadow: 2px -1px 66px -12px #808587;
   color: #333;
}

span{
   font-family: 'Arial';
   display: block;
   margin-bottom: 5px;
   padding-left: 18px;
}
p{
   font-family: 'Arial';
   margin: 0px;
   margin-bottom: 6px;
   padding-left: 18px;
}
a{
   display: inline-block;
   text-decoration: none;
   padding-left: 18px;
   margin-bottom: 15px;
}
